/* Reset default styles dan set background global */
:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: #f9f5ff; /* Lavender Mist */
  color: #28262c; /* Shadow Grey */
  margin: 0;
  min-height: 100vh;
}

/* Hapus style default Vite yang tidak perlu agar tidak bentrok */
#root {
  width: 100%;
}